<table width="100%" border="0" cellspacing="0" id="adapters" class="display compact nowrap">
  <thead>
    <tr>
      <th >ID</th>
      <th >Название</th>
      <th >Тип</th>
      <th >Адаптер</th>
      <th >Устройство</th>
      <th >Signal</th>
      <th >Carrier</th>
      <th >FEC</th>
      <th >Sync</th>
      <th >Lock</th>
      <th >Сигнал</th>
      <th >SNR</th>
      <th >BER</th>
      <th >UNC</th>
      <th >Обновлено</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
</table>
<div id="adapter-edit-form" class="uk-modal">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="adapter-edit-form-f" class="uk-form">
      <fieldset data-uk-margin  class="uk-form-horizontal">
        <legend>Параметры DVB-Адаптера</legend>
        <div class="uk-form-row">
          <label for='name' class="uk-form-label">Название:</label>
          <div class="uk-form-controls">
            <input name='name' id='name' type="text" maxlength="50" class="uk-form-small uk-form-width-medium" >
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="name">Мониторинг:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="event" id="event" {event_checked}>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='type' class="uk-form-label">Тип:</label>
          <div class="uk-form-controls">
            <select name="type" id="type" class="selectpicker" onchange="show_dvb_type_table()" style="height: 23px">
              <option>S</option>
              <option>S2</option>
              <option>T</option>
              <option>T2</option>
              <option>C</option>
              <option>ASI</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='adapter' class="uk-form-label">Адаптер:</label>
          <div class="uk-form-controls">
            <input name='adapter' id='adapter' type="number" min="0" max="99"  value='0' class="uk-form-width-mini uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='device' class="uk-form-label">Устройство:</label>
          <div class="uk-form-controls">
            <input name='device' id='device' type="number" min="0" max="99"  value='0' class="uk-form-width-mini uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='mac' class="uk-form-label">Mac:</label>
          <div class="uk-form-controls">
            <input name='mac' id='mac' type="text" maxlength="50" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='budget' class="uk-form-label">Budget:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="budget" id="budget" />
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin  id="dvbs" class="uk-form-horizontal">
        <div class="uk-form-row">
          <label for='frequency' class="uk-form-label">Частота:</label>
          <div class="uk-form-controls">
            <input name='frequency' id='frequency' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='polarization' class="uk-form-label">Поляризация:</label>
          <div class="uk-form-controls">
            <select name="polarization" id="polarization" onChange="set_lnb(this.value)" class="uk-form-small" >
              <option>H</option>
              <option>V</option>
              <option>R</option>
              <option>L</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='symbolrate' class="uk-form-label">Симв.скорость:</label>
          <div class="uk-form-controls">
            <input name='symbolrate' id='symbolrate' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='lof1' class="uk-form-label">lof1:</label>
          <div class="uk-form-controls">
            <input name='lof1' id='lof1' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='lof2' class="uk-form-label">lof2:</label>
          <div class="uk-form-controls">
            <input name='lof2' id='lof2' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='slof' class="uk-form-label">slof:</label>
          <div class="uk-form-controls">
            <input name='slof' id='slof' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='lnb_sharing' class="uk-form-label">Питание LNB:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="lnb_sharing" id="lnb_sharing" class=" uk-form-small" />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='tone' class="uk-form-label">Тон 22кГц:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="tone" id="tone" class=" uk-form-small" />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='diseqc' class="uk-form-label">DiSEqC:</label>
          <div class="uk-form-controls">
            <input name='diseqc' id='diseqc' type="number" min="0" max="99" maxlength="10" class="uk-form-width-mini uk-form-small">
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin  id="dvbc" class="uk-form-horizontal">
        <div class="uk-form-row">
          <label for='frequency' class="uk-form-label">Частота:</label>
          <div class="uk-form-controls">
            <input name='frequency' id='frequency' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='symbolrate' class="uk-form-label">Симв.скорость:</label>
          <div class="uk-form-controls">
            <input name='symbolrate' id='symbolrate' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin  id="dvbt" class="uk-form-horizontal">
        <div class="uk-form-row">
          <label for='frequency' class="uk-form-label">Частота:</label>
          <div class="uk-form-controls">
            <input name='frequency' id='frequency' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='bandwidth' class="uk-form-label">Полоса:</label>
          <div class="uk-form-controls">
            <select name='bandwidth' id='bandwidth' class="uk-form-small">
              <option></option>
              <option>AUTO</option>
              <option>8mhz</option>
              <option>7mhz</option>
              <option>6mhz</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='stream_id' class="uk-form-label">ID Потока:</label>
          <div class="uk-form-controls">
            <input name='stream_id' id='stream_id' type="text" maxlength="10" class="uk-form-small">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='guardinterval' class="uk-form-label">Защ. интервал:</label>
          <div class="uk-form-controls">
            <select name='guardinterval' id='guardinterval' class="uk-form-small">
              <option></option>
              <option>AUTO</option>
              <option>1/4</option>
              <option>1/8</option>
              <option>1/16</option>
              <option>1/32</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='transmitmode' class="uk-form-label">Размер БПФ:</label>
          <div class="uk-form-controls">
            <select name='transmitmode' id='transmitmode' class="uk-form-small">
              <option></option>
              <option>AUTO</option>
              <option>2K</option>
              <option>4K</option>
              <option>8Л</option>
            </select>
          </div>
        </div>
        <div class="uk-form-row">
          <label for='hierarchy' class="uk-form-label">Иерархия:</label>
          <div class="uk-form-controls">
            <select name='hierarchy' id='hierarchy' class="uk-form-small">
              <option></option>
              <option>NONE</option>
              <option>AUTO</option>
              <option>1</option>
              <option>2</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal">
        <div class="uk-form-row">
          <label for='no_sdt' class="uk-form-label">Убрать SDT</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="no_sdt" id="no_sdt" />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='no_eit' class="uk-form-label">Убрать EIT</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="no_eit" id="no_eit" />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='pass_sdt' class="uk-form-label">Полный SDT</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="pass_sdt" id="pass_sdt" />
          </div>
        </div>
        <div class="uk-form-row">
          <label for='pass_eit' class="uk-form-label">Полный EIT</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="pass_eit" id="pass_eit" />
          </div>
        </div>
      </fieldset>
      <fieldset data-uk-margin class="uk-form-horizontal">
      <div class="uk-form-row">
        <label for='modulation' class="uk-form-label">Модуляция:</label>
        <div class="uk-form-controls">
          <select name='modulation' id='modulation' class="uk-form-small">
            <option></option>
            <option>AUTO</option>
            <option>NONE</option>
            <option>QPSK</option>
            <option>QAM16</option>
            <option>QAM32</option>
            <option>QAM64</option>
            <option>QAM128</option>
            <option>QAM256</option>
            <option>VSB8</option>
            <option>VSB16</option>
            <option>PSK8</option>
            <option>APSK16</option>
            <option>APSK32</option>
            <option>DQPSK</option>
            <option>QPSK</option>
            <option>QAM16</option>
            <option>QAM32</option>
            <option>QAM64</option>
            <option>QAM128</option>
            <option>QAM256</option>
            <option>VSB8</option>
            <option>VSB16</option>
            <option>PSK8</option>
            <option>APSK16</option>
            <option>APSK32</option>
            <option>DQPSK</option>
          </select>
        </div>
      </div>
      <div class="uk-form-row">
        <label for='fec' class="uk-form-label">FEC:</label>
        <div class="uk-form-controls">
          <select name='fec' id='fec' class="uk-form-small">
            <option></option>
            <option>AUTO</option>
            <option>NONE</option>
            <option>1/2</option>
            <option>2/3</option>
            <option>3/4</option>
            <option>4/5</option>
            <option>5/6</option>
            <option>6/7</option>
            <option>7/8</option>
            <option>8/9</option>
            <option>3/5</option>
            <option>9/10</option>
          </select>
        </div>
      </div>
      <div class="uk-form-row">
        <label for='buffer_size' class="uk-form-label">Буфер DVB (4К блоков):</label>
        <div class="uk-form-controls">
          <input name='buffer_size' id='buffer_size' type="text" maxlength="10" >
        </div>
      </div>
      <div class="uk-form-row">
        <div class="uk-form-controls">
          <button type="submit" class="uk-button uk-button-success" id="adapter_submit_button">Добавить</button>
          <input type="hidden" name='plugin' id='plugin' value="adapters">
          <input type="hidden" name='action' id='action' value="add_adapter">
          <input type="hidden" name='dvb_input_id' id='dvb_input_id' value="">
        </div>
      </div>
    </form>
  </div>
</div>
<script type='text/javascript'>
	
	function set_lnb(polarisation)
	{
		if(polarisation == 'H' || polarisation == 'V')
		{
			$("#adapter-edit-form #lof1").val("9750");
			$("#adapter-edit-form #lof2").val("10600");
			$("#adapter-edit-form #slof").val("11700");
		} else {
			$("#adapter-edit-form #lof1").val("10750");
			$("#adapter-edit-form #lof2").val("10750");
			$("#adapter-edit-form #slof").val("10750");
		}
	}
	
	$(document).ready(function() {
    	$('#adapters').dataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"stateSave": true,
				"ajax": "{php_self}?plugin=adapters&action=get_adapters",
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"columnDefs": [
					  { "width": "25px", "targets": [ 0 ] },
					  { "width": "80px", "targets": [ 15 ] },
					  { 'sortable': false, 'targets': [ 15 ] }
				],
				"columns": [
					{ "data": "dvb_input_id" },
					{ "data": "name" },
					{ "data": "type" },
					{ "data": "adapter" },
					{ "data": "device" },
					{ "data": "status_sig" },
					{ "data": "status_carr" },
					{ "data": "status_fec" },
					{ "data": "status_sync" },
					{ "data": "status_lock" },
					{ "data": "signal" },
					{ "data": "snr" },
					{ "data": "ber" },
					{ "data": "unc" },
					{ "data": "last_update" },
					{ "data": "adapter_buttons" },
				],
				
				"rowCallback": function( row, data ) {
					// Bold the grade for all 'A' grade browsers
					//alert(data[6]);
					if ( data['ber'] > 0 ) {
						 $('td:eq(12)', row).css( "background-color" , '#C4DEFF');
					}
					if ( data['unc'] > 0 ) {
						 $('td:eq(13)', row).css( "background-color" , '#C4DEFF');
					}
					if ( data['last_update_period'] > 30*60 ) {
					  $('td:eq(14)', row).css( "background-color" , 'red');
					}
					
					$('td:eq(14)', row).html('<strong>' + data['last_update'] + '</strong>');
					
					$('td:eq(1)', row).html('<a href="#" onclick="edit_adapter_dialog(' + data['dvb_input_id'] + '); return false;">' + data['name'] + '</a>');
					
					$('td:eq(10)', row).html("<div><div class='gradient_progress' style='width: " + data['signal'] + '%' + "'></div><div class='space_progress'>" + data['signal'] + '%' + "</div></div>" );					
					$('td:eq(11)', row).html("<div><div class='gradient_progress' style='width: " + data['snr'] + '%' + "'></div><div class='space_progress'>" + data['snr'] + '%' + "</div></div>" );					
					

				},
				
			});
			
			if('{show_add_dialog}' == 'Y')
			{
				add_adapter_dialog();
			}
			
		} );
		
		
		function show_dvb_type_table()
		{

				//alert($('#type').val());
				switch ($('#type').val()) {
					case 'S':
						$('#dvbs').find(":input").prop("disabled", false);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "none" )
						break;
					case 'S2':
						$('#dvbs').find(":input").prop("disabled", false);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "none" )
						break
					case 'T':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", false);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "" )
						$('#dvbc').css( "display", "none" )
						break;
					case 'T2':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", false);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "" )
						$('#dvbc').css( "display", "none" )
						break;
					case 'C':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", false);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "" )
					case 'ASI':
						$('#dvbs').find(":input").prop("disabled", true);
						$('#dvbt').find(":input").prop("disabled", true);
						$('#dvbc').find(":input").prop("disabled", true);
						$('#dvbs').css( "display", "none" )
						$('#dvbt').css( "display", "none" )
						$('#dvbc').css( "display", "none" )
						break;
				}
		
		}
		
		function add_adapter_dialog()
		{
	
				$("#adapter-edit-form #action").val("add_adapter");
				$("#adapter-edit-form #lnb_sharing").prop('checked', true);;
				$("#adapter-edit-form #lof1").val("9750");
				$("#adapter-edit-form #lof2").val("10600");
				$("#adapter-edit-form #slof").val("11700");
				$('#adapter_submit_button').html('<i class="uk-icon-plus"></i> Добавить');
				$.UIkit.modal("#adapter-edit-form").show();
				
				show_dvb_type_table();
		}
		
		function edit_adapter_dialog(dvb_input_id)
		{

				$("#adapter-edit-form #action").val("edit_adapter");

				$.ajax({
					  url: "{php_self}",
					  type: "GET",
					  data: { dvb_input_id : dvb_input_id , plugin : 'adapters', action : "get_adapter_params" },
					  async: false,
					  dataType: "script"
				});
				$('#adapter_submit_button').html('<i class="uk-icon-save"></i> Сохранить');
				$.UIkit.modal("#adapter-edit-form").show();
				show_dvb_type_table();
		}
		
		

</script>