<table width="100%" border="0" cellspacing="0" id="users" class="display compact nowrap" >
  <thead>
    <tr>
      <th >#</th>
      <th>Пользователь</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
</table>
<div id="user-edit-form" class="uk-modal" >
  <div class="uk-modal-dialog" > <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="user-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <div class="uk-form-row">
          <label for='user'   class="uk-form-label">Пользователь:</label>
          <div class="uk-form-controls">
            <input name='user' id='user' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='password'   class="uk-form-label">Пароль:</label>
          <div class="uk-form-controls">
            <input name='password' id='password' type="text" maxlength="50" class="text ui-widget-content ui-corner-all">
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="user-submit-button">Добавить</button>
          </div>
        </div>
        <input type="hidden" name='plugin' id='plugin' value="users">
        <input type="hidden" name='action' id='action' value="add_user">
        <input type="hidden" name='user_id' id='user_id' value="">
      </fieldset>
    </form>
  </div>
</div>
<script type='text/javascript'>
	$(document).ready(function() {
    	$('#users').dataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"ajax": "{php_self}?plugin=users&action=get_users",
				"columnDefs": [
					  { "width": "25px", "targets": [ 0 ] },
					  { "width": "80px", "targets": [ 2 ] },
					  { 'sortable': false, 'targets': [ 2 ] }
				],
				"columns": [
					{ "data": "num" },
					{ "data": "user" },
					{ "data": "user_buttons" },
				],
				
			});
			
			if('{show_add_dialog}' == 'Y')
			{
				add_user_dialog();
			}
			
		} );
		
		
		function edit_user_dialog()
		{		
				$('#user-submit-button').html('<i class="uk-icon-save"></i> Сохранить');;
				$("#user-edit-form-f #action").val("edit_user");
				$.UIkit.modal("#user-edit-form").show();
		}
		
		function add_user_dialog()
		{
				$("#user-edit-form-f #user").val("");
				$("#user-edit-form-f #password").val("");
				$("#user-edit-form-f #action").val("add_user");
				$('#user-submit-button').html('<i class="uk-icon-plus"></i> Добавить');
				$.UIkit.modal("#user-edit-form").show();
				
		}
</script> 