<table width="100%" border="0" cellspacing="0" cellpadding="4" id="channels"  class="display compact order-column hover nowrap">
  <thead>
    <tr>
      <th >#</th>
      <th >Канал</th>
      <th >Astra</th>
      <th >Вход</th>
      <th >Выход</th>
      <th align="center" >Работает</th>
      <th align="center" >Открыт</th>
      <th >Битрейт</th>
      <th >CC</th>
      <th >PES</th>
      <th >Обновлено</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
</table>
<div id="channel-edit-form"  class="uk-modal">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="channel-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal">
        <legend>Канал</legend>
        <div class="uk-form-row">
          <label class="uk-form-label" for="name">Название:</label>
          <div class="uk-form-controls">
            <input name='name' id='name' type="text" maxlength="50" >
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="astra_id">Астра:</label>
          <div class="uk-form-controls">
            <div id='astra_select'></div>
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="enable">Включен:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="enable" id="enable">
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="event">Мониторинг:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="event" id="event">
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="channel-submit-button">Добавить</button>
          </div>
        </div>
      </fieldset>
      <input type="hidden" name='plugin' id='plugin' value="channels">
      <input type="hidden" name='action' id='action' value="add_channel">
      <input type="hidden" name='channel_id' id='channel_id' value="">
    </form>
  </div>
</div>
<script type="text/javascript">
	    function _open( url, width, height ) {
	        window.open( url,'' , 'fullscreen=no,location=no,menubar=no,toolbar=no,status=no,width=' + width + ',height=' + height + ',left=' + ((window.innerWidth - width)/2) + ',top=' + ((window.innerHeight - height)/2) );
	    }
	var channelsTable;
		
	$(document).ready(function() {
    	channelsTable = $('#channels').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"stateSave": true,
				"language": {
                	url: "scripts/datatables/i18n/Russian.lang",
            	},
				"ajax": "{php_self}?plugin=channels&action=get_channels",
				"columnDefs": [
					  { "width": "25px", "targets": [ 0 ] },
					  { "width": "80px", "targets": [ 11 ] },
					  { 'sortable': false, 'targets': [ 11 ] },
				      { "type": "natural", "targets": [ 1, 2, 3, 4 ] },
					  
				],
				"columns": [
					{ "data": "num" },
					{ "data": "channel_name" },
					{ "data": "astra_name" },
					{ "data": "input" },
					{ "data": "output" },
					{ "data": "onair", className: "align_center" },
					{ "data": "scrambled", className: "align_center" },
					{ "data": "bitrate" },
					{ "data": "cc_error" },
					{ "data": "pes_error" },
					{ "data": "last_update" },
					{ "data": "channel_buttons" },
				],
				"rowCallback": function( row, data ) {
					// Bold the grade for all 'A' grade browsers
					//alert(data[6]);
					
					$('td:eq(1)', row).html('<a href=\'?plugin=channels&action=channel_info&channel_id=' + data['channel_id'] + '\'>' + data['channel_name'] + '</a>');
					
					$('td:eq(2)', row).html('<span style="cursor:pointer" onClick="channelsTable.search(\''+ data['astra_name'] + '\').draw();">'+ data['astra_name'] + ' (<strong>'+ data['astra_id'] + '</strong>)</a>');
					if(data['input'] != null)
					{
						$('td:eq(3)', row).html('<span style="cursor:pointer" onClick="channelsTable.search(\''+ data['input'] + '\').draw();"><strong>'+ data['input'] + '</strong></span>')					
					}
					
					if ( data['onair'] == 'true' ) {
						$('td:eq(5)', row).html('<i class="uk-icon-power-off uk-icon-small" style="color: green" title="Работает"></i>');
					}else{
						if ( data['scrambled'] == 'true' ) {
							title = 'Нет канала на спутнике, или не верный номер канала';
						}else{
							title = 'Не работает';
						}
						$('td:eq(5)', row).html('<i class="uk-icon-power-off uk-icon-small" style="color: red" title="' + title + '"></i>');
					    $('td:eq(5)', row).css( "background-color" , 'yellow');
					}
					
					if ( data['scrambled_bgcolor'] == 'true' ) {
						 $('td:eq(6)', row).html('<i class="uk-icon-lock uk-icon-small" style="color: red" title="Канал закодирован"></i>');
						 $('td:eq(6)', row).css( "background-color" , 'orange');
					}else{
						 $('td:eq(6)', row).html('<i class="uk-icon-unlock uk-icon-small" style="color: orange" title="Канал открыт"></i>');
					}

					if ( data['bitrate'] < 100 ) {
					  $('td:eq(7)', row).css( "background-color" , '#FDD');
					}
					$('td:eq(7)', row).html( data['bitrate'] + ' kBit');

					if ( data['cc_error'] >5 ) {
					  $('td:eq(8)', row).css( "background-color" , "#C4DEFF");
					}

					if ( data['pes_error'] >5 ) {
					  $('td:eq(9)', row).css( "background-color" , "#C4DEFF");
					}
					if ( data['last_update_period'] > 30*60 ) {
					  $('td:eq(10)', row).css( "background-color" , 'red');
					}
					
					$('td:eq(10)', row).html('<strong>' + data['last_update'] + '</strong>');
					
					if ( data['enable'] == "false" ) {
                     $('td:eq(5)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(6)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(7)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(8)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(9)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(10)', row).css( "background-color" , '#CCCCCC');
                   }
				}
			});
			
			$('#channel-edit-form').on({
				'uk.modal.show': function(){
					//stop_reload();
				},
				'uk.modal.hide': function(){
					//set_reload();
				}
			});
			
			
			if('{show_add_dialog}' == 'Y')
			{
				add_channel_dialog();
			}
			
		} );
		
		function edit_channel_dialog()
		{		
				$('#channel-submit-button').html('<i class="uk-icon-save"></i> Сохранить');
				$.UIkit.modal("#channel-edit-form").show();
				$("#channel-edit-form #action").val("edit_channel");
		}
		
		function add_channel_dialog()
		{
				$('#channel-submit-button').html('<i class="uk-icon-plus"></i> Добавить');;
				$("#channel-edit-form #name").val("");
				$.UIkit.modal("#channel-edit-form").show();
				$("#channel-edit-form #name").focus();
				$("#channel-edit-form #action").val("add_channel");
				$("#channel-edit-form #event").prop('checked', true);
				$("#channel-edit-form #enable").prop('checked', true);

				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_astra_select" },
				  async: false,
				  success: function(html){  
       						 $("#astra_select").html(html);
				   }  
				});
		}
		
		var vTimeOut;
        function set_reload()
        {
           vTimeOut = setTimeout('channelsTable.ajax.reload()', "{page_reload_time}");
        }
       
	    function stop_reload()
        {
            clearInterval(vTimeOut);
        }
            
       set_reload();
		
</script> 
